@model BusBoard.Web.ViewModels.BusInfo
@{
	ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
	@if (Model.ErrorMessage == null)
	{
		<h3>
			Bus arrivals near @Model.PostCode
		</h3>
		<div id="busTimes">
			@foreach (var busPrediction in Model.BusPredictions)
			{
				<div class="busBox">
					<div class="busUnit" style="filter: hue-rotate(@busPrediction.GetHue());">
						<img src="~/Content/flag-variant.svg" />
						<img class="busIcon" src="~/Content/bus-side.svg" style="margin-left: @(Math.Min(12, busPrediction.timeToStation/60))em" />
					</div>
					<div class="busTime" style="border: 1px solid hsl(@busPrediction.GetHue(), 70%, 50%); color: hsl(@busPrediction.GetHue(), 70%, 50%)">
						<p class="station">@busPrediction.stationName</p>
						<p class="line">@busPrediction.lineName</p>
						<p class="time">@busPrediction.GetNiceTime()</p>
					</div>
				</div>
			}
		</div>

		<script language="javascript">
			setTimeout("location.reload(true);", 30000);
		</script>
	}
	else if (Model.PostCode.IsEmpty())
	{
		<h1>An error has occurred.</h1>
		<p>No postcode was entered. Please enter a valid postcode.</p>
	}
	else
	{
		<h1>An error has occurred.</h1>
		<p>The postcode entered was <b>@Model.PostCode</b>.</p>
		<p>@Model.ErrorMessage</p>
	}
</div>
